@using DataAccess.Models

@{
    ViewData["Title"] = "Profile";
    var users = ViewBag.Users as List<User>;
    var posts = ViewBag.Posts as List<Post>;
}

<!DOCTYPE html>

<html>
<head>
    <title>Administrator</title>
    <link rel="stylesheet" href="~/css/adminhome.css" asp-append-version="true"/>
</head>
<body>
<div>
    <h2>Admin Home</h2>
    <nav>
        <ul style="list-style: none; padding: 0;">
            <li style="display: inline; margin-right: 10px;">
                <a href="/Admin/Index/?option=0" class="plain-text-link">Posts</a>
            </li>
            <li style="display: inline; margin-right: 10px;">
                <a href="/Admin/Index/?option=1" class="plain-text-link">Users</a>
            </li>
        </ul>
    </nav>

    @if (posts != null && posts.Any())
    {
        @foreach (var post in posts)
        {
            <a href="/Post/Detail/?postId=@post.PostId" class="plain-text-link">
                <h3 class="font-weight-bold">@post.Title</h3>
            </a>
            <p>@post.Content</p>
        }
    }

    <div>
        @if (users != null && users.Any())
        {
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Role</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>CreateDate</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (User user in users)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.Role?.RoleName</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@(((DateTime)user.CreatedAt).ToString("yyyy-MM-dd"))</td>
                        <td>
                            <a href="/Admin/Promote/?userId=@user.UserId" class="btn btn-primary">Promote</a>
                        </td>
                        <td>
                            <a href="/Admin/Demote/?userId=@user.UserId" class="btn btn-danger">Demote</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>
</body>
</html>