@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    Layout = "_Layout";
    var post     = ViewBag.Post as DataAccess.Models.Post;
    var replies = ViewBag.Comments as List<DataAccess.Models.Reply>; // Assuming you have a Comment model and it's passed to the view
}

<!DOCTYPE html>

<html>
<head>
    <title>@post?.Title</title>
    <link rel="stylesheet" href="~/css/PostDetail.css"/>
</head>
<body>

<div>
    <div class="title-actions-container">
        <h2>@post?.Title</h2>
        @if (ViewBag.IsOwner != null && ViewBag.IsOwner)
        {
            <div class="text-right-align" style="margin-bottom: 15px; margin-top: 15px">
                <a class="btn-primary btn" href="/Post/Modify/?postId=@post.PostId">Modify</a>
                <a class="btn-danger btn" id="deletePostButton">Delete</a>
            </div>
        }
    </div>
    <p>@post.Content</p>
</div>

<div>
    <form asp-action="AddComment" method="post">
        <input type="hidden" name="PostId" value="@post.PostId"/>
        <div class="form-group">
            <textarea class="form-control rounded-textarea" id="Content" name="Content" placeholder="Add a comment"></textarea>
        </div>
        <div class="text-right-align">
            <button type="submit" class="btn btn-primary btn-sm">Post Comment</button>
        </div>
    </form>
</div>
<div>
    <h4>Replies</h4>
    @if (replies != null && replies.Any())
    {
        foreach (var comment in replies)
        {
            <div class="comment">
                <p>
                    <strong>@comment.User?.UserName</strong>
                </p>
                <p>@comment.Content</p>
            </div>
        }
    }
    else
    {
        <p>No comments yet.</p>
    }
</div>
</body>
</html>

<script>
document.getElementById('deletePostButton').addEventListener('click', function(e) {
    e.preventDefault(); // Prevent the default link behavior
    var postId = '@post.PostId'; // Get the postId from the Razor model
    var confirmDeletion = confirm('Are you sure you want to delete this post?');
    if (confirmDeletion) {
        window.location.href = '/Post/Delete/?postId=' + postId;
    }
});
</script>